services:
  backend:
    build: ./word-cloud-gen-backend
    ports:
      - "3000:3000"
    networks:
      - app-network

  frontend:
    build: ./word-cloud-gen-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
